{% load static %}

<footer class="footer">
    <div class="footer__redes">
        <ul class="footer__lista">
            <li class="footer__item">
                <a class="footer__icono" href="https://github.com/" target="blank"><i class="fab fa-github-square fa-1x"></i></a>
            </li>

            <li class="footer__item">
                <a class="footer__icono" href="https://linkedin.com/in/jondeibyestradacadavid" 
                target="blank"><i class="fab fa-linkedin-in fa-1x"></i></a>
            </li>

        </ul>
    </div>
    <div class="footer__texto">
        <p>Jon Deiby Estrada </p>
    </div>
</footer>