{% extends 'layout.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<main>
    <section class="container contact">
        <!-- Esta sección representa un contenedor para la información de contacto -->
        <!-- Puedes agregar aquí cualquier elemento específico de diseño -->
    </section>
    <section>
        <h2>Información de contacto</h2>
        <!-- Aquí se muestra el encabezado principal de la sección de información de contacto -->
        <p>Puedes comunicarte conmigo utilizando la siguiente información:</p>
        <!-- Un párrafo con instrucciones sobre cómo contactar -->
        <ul>
            <li>
                <strong>Envia un Email:</strong> <a href="mailto:jon-2021@outlook.com">jon-2021@outlook.com</a>
                <!-- Un elemento de lista que muestra la dirección de correo electrónico y proporciona un enlace para enviar un correo -->
            </li>
            <li>
                <strong>Teléfono:</strong> +573006375393
                <!-- Un elemento de lista que muestra el número de teléfono -->
            </li>
            <li>
                <strong>Ciudad:</strong> Medellin-Colombia
                <!-- Un elemento de lista que muestra la ciudad -->
            </li>
        </ul>
    </section>
</main>
{% endblock %}
