{% extends 'layout.html' %}

{% block content %}
<!-- Este bloque "content" se reemplazará en la plantilla base -->

{% load static %}
<!-- Carga de archivos estáticos -->

<header class="row">
    <!-- CABECERA -->
    <div class="home imagen-fondo">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos">
                    <!-- Clase "titulos" para la sección de títulos -->
                    <div>
                        <h1 class="display-4 fw-bold">Jon Deiby Estrada cadavid</h1>
                        <!-- Título principal con clase "display-4" y estilo en negrita -->
                    </div>
                    <div>
                        <h3 class="fs-2">Desarrollador Web Backend</h3>
                        <!-- Subtítulo con clase "fs-2" (tamaño de fuente 2) -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
    <!-- Sección de contenido con una clase específica de diseño -->
    <div class="container">
        <h1 class="fw-lighter fst-italic px-5">¡"El único modo de hacer un gran trabajo es amar lo que haces." - Steve Jobs!</h1>
        <!-- Título principal con estilo en cursiva y estilo de fuente ligero -->
    </div>
</div>

{% endblock %}
